In [ ]:
PYTHON BASIC ASSIGNMENT

#READ THIS DATASET

In [1]:
#1EXPLAIN THE KEY FEATURES OF PYTHON THAT MAKE IT A POPULAR CHOICE FOR PROGRAMMING.

#following are the key featrures of python-

#1 SIMPLICITY AND READABILITY
# Python's syntax is designed to be intuitive and mirrors the English language,
#  which makes it an accessible language for newcomers.
#  The emphasis on readability is evident in its use of indentation to define code blocks,
#  eliminating the need for braces that can clutter code in other languages.
  
#2 OBJECT-ORIENTED AND PROCEDURAL PROGRAMMING
#  Python supports both object-oriented and procedural programming paradigms,
#  offering flexibility in how developers approach their projects. 
#  Object-oriented features like classes and encapsulation allow for modular and reusable code.
  
#3 EXTENSIVE LIBRARIES AND FRAMEWORKS
#  Python boasts a vast standard library, providing modules and functions for a wide array of tasks,
#  from web development with frameworks like Django and Flask to scientific computing with libraries like NumPy and SciPy.
  
#4 INTEGRATED AND INTERPRETED
#  As an interpreted language, Python executes code line by line, which simplifies debugging and makes it an integrated language.
#  This approach also means there's no need for compilation, streamlining the development process.
  
#5 OPEN SOURCE WITH LARGE COMMUNITY
#  Being open source, Python encourages community involvement, allowing anyone to contribute to its development.
#  This has led to a large, active community that continuously works on improving the language and offering support.
  
#6 CROSS-PLATFORM COMPATIBILITY
#  Python is a cross-platform language, meaning code written on one operating system, such as Windows,
#  can run seamlessly on others like macOS or Linux without modification.
  
#7 GUI SUPPORT 
#  Python supports the development of graphical user interfaces (GUIs) through modules like Tkinter, PyQt, and others,
#  making it suitable for desktop application development.

In [13]:
#2 DESCRIBE THE ROLE OF PREDEFINED KEYWORDS IN PYTHON AND PROVIDE EXAMPLES OF HOW THEY ARE USED IN A PROGRAM.


#ROLE OF PREDEFIEND

#Python keywords are reserved words that hold a specific meaning in the language and are integral to its syntax and structure.
#These keywords cannot be used as identifiers for variables, functions, or any other custom names within your code.
 
#Python keywords are the building blocks of Python code, dictating the rules of how the language is structured and how the codeis executed.
#They are used to define the flow of control in code, create functions and classes, manage variable scope, handle exceptions, and more.

#Some of the most commonly used Python keywords include if, else, elif, for, while, break, continue, def, return, class, try, except, raise,
#finally, import, from, as, with, True, False, None, and, or, not, in, is, global, nonlocal, lambda, yield, async, and await.


#FOLLOWING ARE THE EXAMPLES OF HOW PREDEFINED KEYWORDS ARE USED IN A PROGRAM-
 
#if,else,elif, are used in conditional statememnt and help us to code decision based on some preconditions-
#example-
y = 100
if y > 0:
    print("the number is greater than 0")

the number is greater than 0

In [15]:
weather = "rainy"
if weather == "rainy":
    print("I WILL NOT GO TO BUY GROCERIES")

I WILL NOT GO TO BUY GROCERIES

In [16]:
weather = "sunny"
if weather == "rainy":
    print("I WILL NOT GO TO BUY GROCERIES")
else:
    print("I WILL GO TO BUY GROCERIES")

I WILL GO TO BUY GROCERIES

In [17]:
y = 22
if y > 100:
    print("this block will be executed if y is greater than 100")
elif y < 100:
    print("this block will be executed if y is less than 100")
else:
    print("the number is equal to 100")

this block will be executed if y is less than 100

In [18]:
y = 37
r = 30
while r<y:
    print(r)
    r = r+1

30
31
32
33
34
35
36

In [19]:
for i in "yashshakdwipee":
    print(i)

y
a
s
h
s
h
a
k
d
w
i
p
e
e

In [26]:
list=[ 1, 2, 3.4,"yash shk","pwskills"]
for i in l:
    if i == "yash shk":
        print(i)

yash shk

In [5]:
# 3 COMPARE AND CONTRAST MUTABLE AND IMMUTABLE OBJECTS IN PYTHON WITH EXAMPLES .


#In Python, Every variable in Python holds an instance of an object.
#There are two types of objects in Python i.e. Mutable and Immutable objects. 
#Whenever an object is instantiated, it is assigned a unique object id. 
#The type of the object is defined at the runtime and it can’t be changed afterward.
#However, its state can be changed if it is a mutable object.

#example of mutable objects -

#list - it is a type of container which can store all types of data like-integers ,strings ,floats, boolen etc.
#list is type of mutable objects and supports item assignment

list_cont = [1,2,3,4.3,"yash","pwskills",3+4j]
list_cont[0]

1

In [6]:
list_cont[4]="lucky"

In [7]:
list_cont

[1, 2, 3, 4.3, 'lucky', 'pwskills', (3+4j)]

In [8]:
#examples of immutable objects-
#string,float,integer,tuple are types of immutable object / doesn't support item assignment.
#in simple words,an immutable object can’t be changed after it is created. 

message = "hello my name is yash"
message[0]="p"
print(message)

TypeError: 'str' object does not support item assignment

In [9]:
# as from the above error we can clearly see that strings are kind od immutable object and can't be changed after creation

In [10]:
# 4 DISCUSS THE DIFFERENT TYPES OF OPERATORS IN PYTHON AND PROVIDE EXAMPLES OF HOW THEY ARE USED.


#different types of operators in python are as follows -

# a ARITHMETIC OPERATORS
#In Python, arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, and division. Here's a quick overview of the arithmetic operators in Python:

#Addition (+): Adds two operands.

#Subtraction (-): Subtracts the second operand from the first.

#Multiplication (*): Multiplies two operands.

#Division (/): Divides the first operand by the second.

#Modulus (%): Returns the remainder when the first operand is divided by the second.

#Exponentiation (**): Raises the first operand to the power of the second.

#Floor Division (//): Divides the first operand by the second and returns the largest integer less than or equal to the result

#EXAMPLES-

100-67

33

In [11]:
7*5

35

In [12]:
76/4

19.0

In [13]:
21%4

1

In [14]:
7//2

3

In [20]:
# b COMPARISON OPERATOR

#comparison operators in Python, also known as comparison operators, are used to compare two values. They return a Boolean value,
#either True or False, based on the condition's outcome.

# types of comparison operators are as follow

#Equal to (==): Returns True if both operands are equal

 #print(5 == 5) # Output: True

#Not Equal to (!=): Returns True if operands are not equal

 #print(5 != 3) # Output: True

#Greater than (>): Returns True if the left operand is greater than the right

#print(10 > 5) # Output: True

#Less than (<): Returns True if the left operand is less than the right

 #print(5 < 10) # Output: True

#Greater than or Equal to (>=): Returns True if left operand is greater than or equal to the right

#print(10 >= 10) # Output: True

#Less than or Equal to (<=): Returns True if left operand is less than or equal to the right
 #print(5 <= 10) # Output: True

In [25]:
 a = 55
 b = 34

In [26]:
a>b

True

In [27]:
b>a

False

In [32]:
c =34
h=67

In [34]:
print(5 <10)

True

In [35]:
print(156!=234)

True

In [19]:
# c LOGICAL OPERATORS

#Logical operators are used to combine conditional statements:

#Operator	Description	Example	

#and =      Returns True if both statements are true	x < 5 and  x < 10

#or =       Returns True if one of the statements is true	x < 5 or x < 4	

#not =	    Reverse the result, returns False if the result is true	not(x < 5 and x < 10)	


# we can understand better through this table-

#and operator                         # in binary form

# true and true = true                1 and 1 = 1
# true and false = false              1 and 0 = 0
# false and true= false               0 and 1 = 0
# false and false= false              0 and 0 = 0
 

# or operator



# true or true = true                 1 or 1 = 1 
# true or false = true                1 or 0 = 1
#  false or true= true                0 or 1 = 1
#false or false = false               0 or 0 = 0

In [1]:
# D bitwise operators


#Python bitwise operators are used to perform bitwise calculations on integers.
#The integers are first converted into binary and then operations are performed on each bit or corresponding pair of bits,
#hence the name bitwise operators. The result is then returned in decimal format.


#following are the different types of bitwise operator-

# BITWISE AND (&)
#example- 
10&10

10

In [3]:
34&24

0

In [5]:
#explanation of how both the AND OPERATES GENERATED -
bin(10)

'0b1010'

In [7]:
bin(34)

'0b100010'

In [8]:
bin(24)

'0b11000'

In [9]:
#100010   =  000000 so the bitwise (&) OF 34&24=0
# 11000

In [10]:
#BITWISE OR(|)
#example-
3|5

7

In [11]:
#BITWISE XOR OPERATOR
#example-
2^6

4

In [17]:
#BITWISE NOT (~) 
#example
~100

-101

In [18]:
#LEFTSHIFT OPERATOR[<<]
# left shift operatorshifts the bits to the left by a specified no.of position filling as to the right

#example-
47<<7

6016

In [21]:
#RIGHTSHIFT OPERATOR[>>]
#removes the number of elements in the binary.

#example-
280>>3

35

In [1]:
#E ASSIGNMENT OPERATOR 


#Assignment Operators are used to assign values to variables.
#This operator is used to assign the value of the right side of the expression to the left side operand.

#example-
a=10

In [2]:
a+5

15

In [3]:
a-5

5

In [4]:
a/3

3.3333333333333335

In [5]:
a*3

30

In [2]:
#F MEMBERSHIP OPERATORS
#embership operators in Python are used to test whether a value or variable is found in a sequence (string, list, tuple, set, dictionary).
#here are two membership operators explained as follows:

#example-
y="yash shakdwipee"
"n" in y

False

In [3]:
"y" in y

True

In [6]:
#G IDENTITY OPERATORS
#compares the location of two objects/variables.
# not if they are equal, but if they are actually the same object, with the same memory location

#is Returns true if both variables are the same object x is y.
#is not Returns true if both variables are not the same object x is not y.

#example-
a= 2
b=4

a is b

False

In [7]:
a is not b

True

In [8]:
# 5  EXPLAIN THE CONCEPT OF TYPE CASTING IN PYTHON WITH EXAMPLES.


#type casting/type conversion

#the process of changing the data type of a value\object in python is known as type casting

#why?
#because while executing\computation using operators,there can be mismatch between data types

#example-
a = "2"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

In [10]:
#now to correct this error we will gonna change the data type from string to integer

int(a)+b

5

In [11]:
# this is how by doing type casting we can easily change the data type and correct it.
# there are two types of type casting - implicit and explicit

# Python automatically converts 
# a to int 
a = 7
print(type(a))

<class 'int'>

In [12]:
# Python automatically converts 
# b to float 
b = 3.0
print(type(b))

<class 'float'>

In [13]:
#Explicit Type Conversion in Python
#In this method, Python needs user involvement to convert the variable data type into the required data type. 

# int variable
a = 5.9

# typecast to int
n = int(a)

print(n)
print(type(n))

5
<class 'int'>

In [14]:
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

5.0
<class 'float'>

In [13]:
#bool typecasting

#in this every number 1 or above 1 will be treated as true

bool(0)

False

In [11]:
bool(3)

True

In [10]:
# even negative number will be treated as true
bool(-5)

True

In [2]:
#6  HOW DO CONDITIONAL STATEMENTS WORK IN PYTHON? ILLUSTRATE WITH EXAMPLES.


#conditional statements helps you to code decision based on soe preconditions 

#The "if" statement is the most basic form of conditional execution,
#where a block of code is executed if the condition evaluates to True

#The "if"..."else" statement allows for an alternative execution path when the if condition is False

#if...elif...else Statement,For multiple conditions, Python provides the "if"..."elif"..."else" statement

#Nested if Statements,Python also allows for nested if statements, where an if block can contain another if block

In [7]:
#example (if) statement-

y=99
if y>0:
    print("y is greater than zero")
    

mood = "happy" 
if mood =="happy":
    print("i am so happy today")

y is greater than zero
i am so happy today

In [8]:
#examples (if..else) statements-

grades = 89
if grades >90:
    print("you are amazing")
else:
    print("you are excellent")
    
 
weather = "rainy"
if weather =="sunny":
    print("i will go to swiming")
else:
    print("i will go to play football")

you are excellent
i will go to play football

In [15]:
#example of (if ..elif...else) statements-

y=3
if y>100:
    print("the number is greater than 100")
elif y<100:
    print("the number is less than 100")
else:
    print("the number is equal to 100")
    
    
    
score=78
if score >90:
    print("A+")
elif (85<=score<90):
    print("A")
elif (75<= score<85):
    print("B+")
elif (65<=score>75):
    print("B")
else:
    print("C")

the number is less than 100
B+

In [50]:
#example (nested if else)-

x=1
y=6
if x>5:
    if y>5:
        print("both x and y are greater than 5")
    else:
        print("x s greater than 5 but y is les than 5")
else:
  print("x is not greater than 5")

x is not greater than 5

In [44]:
is_vip = "true"
age=70
if is_vip:
    if age >=18:
        if age<65:
            print("welcome to vip customer")
        else:
            print("you are a vip person and also eligible for senior citizen discount")
    else:
        print("vip status is only for adults")
else:
    print("you are not avip customer and will be charged on a regular price")

you are a vip person and also eligible for senior citizen discount

In [56]:
# input of if elif-

y = int(input("enter a number"))
if y>=100:
    print("the number is greater than 100")
elif 0<=y<100:
    print("the number is greater than 0 but less than 100")
else:
    print("this is a negative number")

enter a number 3

the number is greater than 0 but less than 100

In [57]:
y = int(input("enter a number"))
if y>=100:
    print("the number is greater than 100")
elif 0<=y<100:
    print("the number is greater than 0 but less than 100")
else:
    print("this is a negative number")

enter a number -3

this is a negative number

In [4]:
# 7 DESCRIBE THE DIFFERENT TYPES OF LOOPS IN PYTHON AND THEIR USE CASES WITH EXAMPLES.


#loop statement allows you to execute a block of code repeatedly.

#two types of loops-
#while loop
#for loop

#while loop
#repeatedly executes a block of code until a condition is met

#syntax-
#"while" is a keyword used for a while loop

#examples-

n = 7
i = 1
while i < n:
    print(i)
    i=i+1

1
2
3
4
5
6

In [5]:
n = 7
i = 1
while i < n:
    print(i)
    i=i+1
else:
    print("this will be executed when the while is run successfully without any break")

1
2
3
4
5
6
this will be executed when the while is run successfully without any break

In [12]:
# break statement 
#terminates the loop/ exits the loop 
n = 7
i = 1
while i < n:
    print(i)
    i=i+1
    if i == 3:
        break

1
2

In [19]:
# for loops 
#iterate over a sequence of elements [string ,list,etc]

#example-

for i in"pwskiills":
    print(i)

p
w
s
k
i
i
l
l
s

In [6]:
l = [1,2,"yash","pwskills"]
for i in l:
    print(i)

1
2
yash
pwskills

In [12]:
#break statement i for loop
l = [1,2,"yash","pwskills"]
for i in l:
    if i =="yash": break
    print(i)

1
2